{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 sidebar">
                <ul class="nav nav-sidebar text-center">
                    {% for all_c in categories %}
                        {% if all_c.getId == categorie_active.getId %}
                            <li class="active"><a href="{{ path('app_view_tutorial_by_categ_site', { categ_id: all_c.getId}) }}"><img
                                            src="{{ all_c.getLogoSca }}"
                                            alt="{{ all_c.getNameSca }}"
                                            class="logo_categories">{{ all_c.getNameSca }}
                                </a></li>
                        {% else %}
                            <li><a href="{{ path('app_view_tutorial_by_categ_site', { categ_id: all_c.getId}) }}"><img src="{{ all_c.getLogoSca }}"
                                                                                  alt="{{ all_c.getNameSca }}"
                                                                                  class="logo_categories">{{ all_c.getNameSca }}
                                </a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <h1 class="page-header"><img src="{{ asset('img/arrow.png') }}" alt="arrow"
                                                 class="arrow_header"/> {{ categorie_active.getNameSca }} <span
                                class="nbr_tuto">{{ pagination.getTotalItemCount }}</span></h1>

                    <div class="row placeholders margin_card">
                        {% if pagination %}
                            {% for tuto_n in pagination %}
                                {% if tuto_n.getActiveStu == 1 %}
                                    <div class="cards">
                                        <div class="image">
                                            <img src="{{ tuto_n.getTutosCategories.getLogoSca }}"
                                                 alt="{{ tuto_n.getTutosCategories.getNameSca }}"/>
                                            <a href="{{ path('app_view_tuto_site', { tuto_id: tuto_n.getId }) }}" class="tutoriel">Voir le
                                                tutoriel</a>
                                        </div>
                                        <div class="button_cards_dispear">
                                            <h3>{{ tuto_n.getTitleStu }}</h3>
                                            <p>{{ tuto_n.getDescriptionStu }}</p>
                                            <div class="name"><img src="{{ asset('img/users.png') }}" alt="users"
                                                                   class="users_tuto"/> {{ tuto_n.getTutosUsers.GetUsernameSha }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="nothing_tuto">
                                Aucune tutoriel dans cette catégorie, <a href="{{ path('app_create_tutorial_site') }}"> Créer un tutoriel maintenant ? </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-12 text-center pagination">
                    <hr/>
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}