{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 sidebar">
                <ul class="nav nav-sidebar text-center margin_nav">
                    {% for all_c in categories %}
                        <li><a href="{{ path('app_view_tutorial_by_categ_site', { categ_id: all_c.getId}) }}"><img src="{{ all_c.getLogoSca }}"
                                                                              alt="{{ all_c.getNameSca }}"
                                                                              class="logo_categories">{{ all_c.getNameSca }}
                            </a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <h1 class="page-header"><img src="{{ asset('img/arrow.png') }}" alt="arrow"
                                                 class="arrow_header"/> Mes favoris <span
                                class="nbr_tuto">{{ pagination.getTotalItemCount }}</span></h1>

                    <div class="row placeholders margin_card">
                        {% if  tuto %}
                        {% for tuto_n in pagination %}
                            <div class="cards">
                                <div class="image">
                                    <img src="{{ tuto_n.getLikeTuto.getTutosCategories.getLogoSca }}"
                                         alt="{{ tuto_n.getLikeTuto.getTutosCategories.getNameSca }}"/>
                                    <a href="{{ path('app_view_tuto_site',{tuto_id: tuto_n.getLikeTuto.getId}) }}" class="tutoriel">Voir le tutoriel</a>
                                </div>
                                <div class="button_cards_dispear">
                                    <h3>{{ tuto_n.getLikeTuto.getTitleStu }}</h3>
                                    <p>{{ tuto_n.getLikeTuto.getDescriptionStu }}</p>
                                    <div class="name"><img src="{{ asset('img/users.png') }}" alt="users"
                                                           class="users_tuto"/> {{ tuto_n.getLikeUsers.GetUsernameSha }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                            <div class="nothing_tuto">
                                Aucune tutoriel dans Favoris
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-12 text-center pagination">
                    <hr/>
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}